*{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #f3ece9;
}
header{
    position: sticky;
    top: 0;
}
nav{
    background: #f3ece9;
    color: rgb(94, 40, 40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav-list{
    list-style: none;
    display: inline;
    padding: 10px;
}
.nav-btn{
    color: rgb(94, 40, 40);
}
a{
    text-decoration: none;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    text-align: center;
    line-height: 25px;
    height: 450px;
    border-radius: 5px;
    color: #471f11;
}
/* section h1{
} */
img{
    width: 20%;
    height: auto;
    border-radius: 20px;
    margin-left: auto;
}
.img{
    object-fit: contain;
}
footer{
    display: flex;
    background-color:#5f2b19;
    height: 150px;
    justify-content: space-evenly;
}
footer ul{
    list-style: none;
}
p{
    margin-left: auto;
    margin-right: auto;
    width: 25em;
}
section{
    background-color: #cfb2a7;
    margin-top: 0;
}
.nav-btn:hover{
    background-color: #5f2b19;
    color: white;
    border-radius: 10px;
    padding: 5px;
    transition: .3s;
}
.redes li{
    list-style: none;
    display: flex;
    padding-top: 20px;
}
.redes a{
    color: white;
}

.footerData a{
    display: flex;
    padding-top: 20px;
    color: white;
}
.container {
    display: flex;
    height: 30px;
    background-color: white;
    margin-top: 115px;
    border-radius: 10px;
}
.fas{
    padding: 8px;
    color: #5f2b19;
}

.fa-brands:hover{
    color: #dc6539;
}
input{
    border-style: none;
    border-radius: 10px;
}
input:focus{
    outline: 0;
}

@media (max-width:1000px){
    .footerData a{
        display: flex;
        padding-top: 20px;
        color: white;
    }
}