*{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: rgb(231, 229, 229);
}
nav{
    background: white;
    color: rgb(94, 40, 40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav-list{
    list-style: none;
    display: inline;
    padding: 10px;
}
.nav-btn{
    color: rgb(94, 40, 40);
}
a{
    text-decoration: none;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    gap: 20px;
    text-align: center;
    line-height: 25px;
    height: 650px;
    border-radius: 5px;
    background-color: white;
}
img{
    width: 20%;
    height: auto;
    border-radius: 20px;
    margin-left: auto;
}
footer{
    display: flex;
    background-color:#5f2b19;
    height: 150px;
}
footer ul{
    list-style: none;
}
p{
    margin-left: auto;
    margin-right: auto;
    width: 25em;
}
section{
    background-color: #cfb2a7;
    margin-top: 0;
}
.nav-btn:hover{
    background-color: #5f2b19;
    color: white;
    border-radius: 10px;
    padding: 5px;
    transition: .3s;
}
.redes li{
    list-style: none;
    display: flex;
    padding-top: 20px;
}
.redes a{
    color: white;
}

.footerData a{
    display: flex;
    position: relative;
    padding-top: 20px;
    left: 630px;
    color: white;
}
